<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
  <app-input
    id="email"
    type="email"
    label="Email"
    placeholder="Enter your email"
    formControlName="email"
    [hasError]="!!emailErrors"
    [errorMessage]="emailErrors || undefined"
    [required]="true">
  </app-input>

  <app-input
    id="password"
    [type]="passwordVisible ? 'text' : 'password'"
    label="Password"
    placeholder="Enter your password"
    formControlName="password"
    [hasError]="!!passwordErrors"
    [errorMessage]="passwordErrors || undefined"
    [required]="true">
  </app-input> </form>